@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#2b2a33;
    --secondary-color:#42414d;
    --primary-text-color:#fff;
    --secondary-text-color:#fff;
    --accent-color:#313137;
    --search-icon: white;
    --search-icon-hover: #484750;
    --accent-color-dark:#393943;
    --padding-inline-section: 20px;
    --color: #000;
    --site-icon: #fff;

    --wildlife: url('/assets/Icons/wildlife.png');
}

.light-theme {
    --primary-color: #f9f9fb;
    --secondary-color: #f4f4f4;
    --primary-text-color: #000;
    --secondary-text-color: #000;
    --accent-color: #d9d9dd;
    --search-icon: #000;
    --search-icon-hover: #cbcbcf;
    --accent-color-dark: #ffffff;
    --color: #fff;
    --site-icon: #313137;

    --wildlife: url('/assets/Icons/wildlife-light.png');
}

body {
    background-color: var(--primary-color);
    font-family: "Nanum Gothic Coding","Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text-color)
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utitlity classes */

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding: 0 var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    /* transition: 0.1s ease-out; */
}

/* site heading */
.site-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 2rem;
}

.site-logo {
  text-wrap: nowrap;
  color: var(--primary-text-color);
  font-size: 3rem; /* Default font size */
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
  .site-logo {
      font-size: 2rem; /* Adjust font size for mobile devices */
  }
}


/* search bar */

.search-container {
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.search-input {
  flex: 1;
  border: none;
  background: none;
  padding: 10px;
  margin-left: -15px;
  color: var(--primary-text-color);
  outline: none;
}

.search-svg {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  fill: var(--search-icon);
  margin-right: -15px;
  cursor: pointer;
}

.search-svg:hover {
  background-color: var(--search-icon-hover);
}

.search-container:focus-within {
  border-color: aqua;
}

/* Home Cards */
.home-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Adjust the top margin as needed */

}

.home-card-container {
  flex-flow: row wrap;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 25px;
  margin-top: 10px;
}

.home-card {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-self:stretch;
  height: auto;
  width: 296px;
  border-radius: 10px;
}

.home-card:hover h3 {
  color: #00ddff;
}


.home-card a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.home-card img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  margin: 10px;
  height: 150px;
  width:276px;;
}

.home-card:hover img {
  filter: brightness(70%);
  transition: .1s ease-in;
}

.home-span-container {
  margin-left: 10px;
}

.home-card span {
  /* display: inline-block; */
  /* width: 276px; */
  margin-left: 1px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3px;
  font-size: smaller;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.home-card h3 {
  font-size: medium;
  width: 276px;
  margin: 10px;
  /* border: 2px solid green; */
}

.home-card p {
  font-family: "Nanum Gothic Coding", "Kode Mono", monospace;
  font-size: smaller;
  width: 276px;
  margin: 10px; 
  /* border: 2px solid yellow; */
} 

.home-card {
  position: relative;
  padding-bottom: 40px; /* Adjust this value as needed */
}

.home-card-links {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}

.home-card-link {
  margin-right: 10px;
}

.svg-color,.home-card-link svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-text-color);
}

.home-card-link svg:hover {
  transform: scale(1.1) translateY(-5px);
  fill: #00ddff;
}



/* Wildlife Project Styles */

.wildlife-image img {
  content: var(--wildlife);
}


/* footer */

footer {
  /* background-color: var(--secondary-color); */
  color: var(--primary-text-color);
  padding: 20px 0;
  margin-top: 10px;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
  text-align: center;
}


/* Ensure responsive design */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

/* Article Image Styles */
