/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --primary-color: #2b2a33;
    --secondary-color: #42414d;
    --primary-text-color: #fff;
    --secondary-text-color: #ded6d6;
    --accent-color-dark:#393943;
    --download-svg: #fff;
    --theme-icon: url('/assets/DarkModeAssets/mode-dark.png');

}

.light-theme {
    --primary-color: #f9f9fb;
    --secondary-color: #f4f4f4;
    --primary-text-color: #000;
    --secondary-text-color: #000;
    --accent-color-dark: #ffffff;
    --download-svg: #000;
    --theme-icon: url('/assets/LightModeAssets/mode-light.png');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

ul {
    list-style: none;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.download-btn {
    top: 30px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

.download-btn:hover {
    background-color: var(--accent-color-dark);
}

.download-btn:active {
    transform: translateY(-3px);
}

.download-svg {
    fill: var(--download-svg)
}

@media only screen and (max-width: 768px) {
    .top-btns {
        flex-direction: column;
        align-items: flex-start;
    }
}

.resume-container {
    max-width: 800px;
    margin: 10px auto;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.resume {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: var(--primary-text-color);
}

.resume .header {
    text-align: center;
    margin-bottom: 30px;
}

.resume .header h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.resume .below-header {
    margin-top: 10px;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.resume .education,
.resume .skills,
.resume .experience,
.resume .projects,
.resume .links,
.resume .achievements,
.resume .opensource,
.resume .interests {
    margin-top: 40px;
}

.resume h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-text-color);
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.resume h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: var(--secondary-text-color);
}

.resume p {
    color: var(--primary-text-color);
    line-height: 1.6;
    margin-bottom: 15px;
}

.resume ul {
    color: var(--secondary-text-color);
    list-style-type: none;
    padding-left: 30px;
    margin-bottom: 20px;
}

.resume ul li {
    position: relative;
    margin-bottom: 10px;
}

.resume ul li::before {
    content: "\2022";
    position: absolute;
    left: -20px;
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 1;
}

.resume a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.resume a:hover {
    color: var(--secondary-text-color);
}

.resume-details {
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color-dark);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 15px;
}
.resume-details p{
    color: var(--secondary-text-color);
}
.resume-details .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; /* Adjust spacing between rows */
}

.resume-details .row p {
    margin: 0;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.resume-details li {
    color: var(--secondary-text-color);
}



@media (max-width: 768px) {
    .resume-container {
        padding: 20px;
        margin: 10px;
    }

    .resume .header h1 {
        font-size: 28px;
    }

    .resume h2 {
        font-size: 20px;
    }

    .resume p,
    .education-details p {
        font-size: 14px;
    }
}