@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/* Root styles */
:root {
    --primary-color: #2b2a33;
    --secondary-color: #42414d;
    --primary-text-color: #fff;
    --secondary-text-color: #fff;
    --accent-color: #313137;
    --svg-color: #fff;
    --padding-inline-section: 20px;
}

/* Light theme styles */
.light-theme {
    --primary-color: #f9f9fb;
    --secondary-color: #f4f4f4;
    --primary-text-color: #000;
    --secondary-text-color: #000;
    --svg-color: #000;
    --accent-color: #d9d9dd;
}

body {
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.download-btn {
    top: 21px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    z-index: 1;
    /* background-color: var(--secondary-color); */
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

.download-btn:hover {
    background-color: var(--accent-color-dark);
}

.download-btn:active {
    transform: translateY(-3px);
}

.svg-color {
    fill: var(--svg-color)
}

.section-heading {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--primary-text-color);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-bottom: 40px;
}

.skill-category {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.bar-chart {
    margin-bottom: 20px;
}

.bar {
    height: 25px;
    background-color: var(--accent-color);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.bar-fill {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}

.bar-label {
    color: var(--primary-text-color);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-list li {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.skill-list li i {
    margin-right: 10px;
    font-size: 14px;
}

.language-list .fa-circle {
    color: #28a745;
}

.language-list .fa-adjust {
    color: #ffc107;
}

.framework-list .fa-python {
    color: #3776ab;
}

.tool-list .fa-windows {
    color: #0078d6;
}

.tool-list .fa-ubuntu {
    color: #e95420;
}

.tool-list .fa-code {
    color: #007acc;
}

.tool-list .fa-git-alt {
    color: #f05032;
}

.tool-list .fa-terminal {
    color: #00a300;
}

.writing-experience {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.experience-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-list li {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.experience-list li i {
    margin-right: 10px;
    font-size: 14px;
    color: var(--primary-text-color);
}

@media (max-width: 768px) {
    .skill-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 90%;
        /* padding: 10px; */
        /* display: flex;
        justify-content: center;
        margin: 0 auto; */
    }

    .skills-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .skill-category,
    .writing-experience {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .under-contruction {
        text-align: center;
        /* height:fit-content; */
        margin-top: 20px;
    }

    .category-heading, .experience-heading {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .category-heading {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .skill-list li {
        font-size: 14px;
    }

    .experience-list li {
        font-size: 14px;
    }
}

/* @media (max-width: 767px) {
    .top-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .top-btns .theme-btn {
        order: 2;
    }

    .top-btns .download-btn {
        position: static;
        order: 1;
    }
} */