<div>
  <img src="https://avatars.githubusercontent.com/u/123811742?v=4" alt="Headshot of Shravan Goswami">
  <p>
    Hi, I'm <strong>Shravan</strong>. I'm a software engineer and writer based in India.
    You can follow me on <a href="https://www.twitter.com/shravangoswamii" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/shravanngoswamii" target="_blank">GitHub</a>,
    or read more about me on <a href="https://shravangoswami.com" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
