---
interface Props {
  mapping?: string;
}

const { mapping = "url" } = Astro.props;
---

<div class="giscus-wrapper">
  <div class="giscus" data-giscus-mapping={mapping}></div>
</div>

<style>
  .giscus-wrapper {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(var(--color-border) / 0.3);
  }

  .giscus {
    min-height: 150px;
  }
</style>
