---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class:list={["flex-wrap justify-center gap-1", centered && "flex"]}>
  {
    SOCIALS.filter((social) => social.active).map((social) => {
      const SocialIcon = socialIcons[social.name];
      return (
        <LinkButton
          href={social.href}
          className="p-2 sm:p-1 hover:rotate-6"
          title={social.linkTitle}
        >
          <SocialIcon className="icon-tabler" />
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      );
    })
  }
</div>
