---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter((social) => social.active).map((social) => {
      const SocialIcon = socialIcons[social.name];
      return (
        <LinkButton
          href={social.href}
          className="link-button"
          title={social.linkTitle}
        >
          <SocialIcon className="icon-tabler" />
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      );
    })
  }
</div>

<style>
  @reference "../styles/base.css";
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2;
  }

  @media (min-width: 640px) {
    .link-button {
      @apply p-1;
    }
  }

  .link-button:hover {
    @apply rotate-6;
  }
</style>
