---
import { TbHash } from "react-icons/tb";
import { slugifyStr } from "@utils/slugify";
import { withBase } from "@utils/base";

export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={withBase(`/tags/${slugifyStr(tag)}/`)}
    transition:name={slugifyStr(tag)}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
    data-pagefind-filter="tag"
  >
    <TbHash className={`${size === "sm" ? " scale-75" : "scale-110"}`} /><span
      >{tag}</span
    >
  </a>
</li>

<style>
  @reference "../styles/base.css";
  a {
    @apply relative underline decoration-dashed;
  }
  a svg {
    @apply -mr-1 h-6 w-6 scale-95 text-skin-base opacity-80;
  }

  a:hover {
    @apply -top-0.5 text-skin-accent;
  }

  a:focus-visible {
    @apply p-1;
  }

  .group:hover a svg,
  .group:focus-within a svg {
    @apply text-skin-accent;
  }
</style>
