---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumbs />
  <main id="main-content" class="mx-auto w-full max-w-4xl px-4 sm:px-6 pb-4">
    <h1 class="text-2xl font-semibold sm:text-3xl text-skin-base mb-6">{frontmatter.title}</h1>
    <section id="about" class="prose prose-img:border-0">
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
