@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

:root {
    --favicon: url('../assets/DarkModeAssets/favicon-dark.png');
    --theme-icon: url('../assets/DarkModeAssets/sun.svg');
}

.light-theme {
    --favicon: url('../assets/LightModeAssets/favicon-light.png');
    --theme-icon: url('../assets/LightModeAssets/moon.svg');
}

.light-theme #favicon {
    content: url('../assets/LightModeAssets/favicon-light.png');
}

p {
    font-family: "Kode Mono", monospace;
    /* color: #9999a9; */
}

/* theme button */

.theme-btn {
    top: 21px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

.theme-btn img {
    content: var(--theme-icon);
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.theme-btn:hover {
    background-color: var(--accent-color-dark);
}

.theme-btn:active {
    transform: translateY(-3px);
}

.under-contruction {
    display: flex;
    background-color: red;
    width: fit-content;
    justify-content: center;
    align-items: center;
    /* text-wrap: nowrap; */
    height: 8px;
    font-size: 1.5rem;
    color: var(--primary-text-color);

}

/* footer */
footer {
    /* background-color: var(--secondary-color); */
    color: var(--primary-text-color);
    padding: 20px 0;
    margin-top: 10px;
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    text-align: center;
}