/*             
            <!-- <div class="nav-links">
            <ul class="flex">
                <li><a href="#" class="hover-link">Resume</a></li>
                <li><a href="#" class="hover-link">Articles</a></li>
                <li><a href="#" class="hover-link">Projects</a></li>
                <li><a href="#" class="hover-link">Contact Me</a></li>
            </ul>
        </div> --> */

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;;
}

.nav-links li {
    /* Set fixed padding to ensure consistent size */
    padding: 10px 20px;
    position: relative; /* Set position to relative */
}

.nav-links li a {
    white-space: nowrap;
    /* Set fixed border to ensure consistent size */
    border: 1px solid transparent; /* Remove border from anchor tags */
}

.nav-links li:hover a::after {
    background-color: var(--accent-color);
    content: ''; /* Add pseudo-element for border */
    position: absolute; /* Set position to absolute */
    top: 0; /* Align with the top of the link */
    left: 0; /* Align with the left of the link */
    right: 0; /* Align with the right of the link */
    bottom: 0; /* Align with the bottom of the link */
    border: 2px solid var(--accent-color-dark); /* Set border properties */
    border-radius: 5px; /* Rounded corners, adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    z-index: -1; /* Send the border behind the link text */
    transition: background-color 0.3s ease; /* Add a transition for smooth effect */
}

/* .nav-links li:active a {
    color: var(--primary-text-color);
    background-color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-dark);
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    margin: 10px;
    padding: 10px;
} */
